

body {
  
  background-color: #008B8B;
  font-family: Times New Roman;
  float: middle;
  
}

a:link{
  color: blue
}

a:visited{
color: purple
}
a:hover {
  color: pink
}
a:active {
color: green
}

.pageContainer {
  width: 940px;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #D3D3D3;
}
 
.imageContainer {
  float: left;
  width: 620px;
  height: 150px;
}
 
.textContainer {
  float: right;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  height: 150px;
}
    

h1 {
  font-family: Copperplate;
  font-size: 60px;
  height: 150px;
}

h2 {
  font-family: Copperplate;
  font-size: 40px;
  height: 75px;
}

h3 {
  font-family: Georgia;
  font-size: 20px;
  height: 50px;
  
}

img {
 width: 100% 
}

