

body {
  
  background-color: #008B8B;
  font-family: Times New Roman;
  float: middle;
  
}

.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
 
.imageContainer {
  float: left;
  width: 620px;
}
 
.textContainer {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
    

h1 {
  font-family: Copperplate;
  font-size: 60px;
}

h2 {
  font-family: Copperplate;
  font-size: 40px;
}

h4 {
  font-family: Georgia;
  font-size: 20px;
  
}

img {
 width: 100% 
}

